@import "bourbon";
@import "neat";

.loading {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  color: #999;
}

.empty {
  font-size: 18px;
  text-align: center;
  color: orange;
}

.filters {
  @include span-columns(3)
  padding-right: 20px;
  border-right: 1px solid #F3F3F3;
}

.list {
  @include span-columns(9)
}

.jogsList {
  margin-left: 20px;
}

.week {
  margin-bottom: 50px;
}

.weekHeader {
  @include clearfix;
}

.weekDates {
  @include span-columns(8);
  color: #008000;
  font-size: 24px;
}

.weekStats {
  @include span-columns(4);
  text-align: right;
  color: #AAA;
  font-size: 18px;
}

.totalDistance, .avgSpeed {
  color: #333;
  font-weight: 500;
}

.filterButton {
  margin-bottom: 10px;
}

.error {
  color: #CE2626;
  margin-bottom: 10px;
}
