.env
.env.test
config/database.yml
config/sphinx.yml
*.swp
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log/**/*.log
.ruby-version

# YARD artifacts
.yardoc
_yardoc
doc/
*.DS_Store
.vimrc
